@charset "UTF-8";

.projeto__div {
  background: var(--cor_bg-projeto);
}

.projeto__titulo {
  color: var(--cor_txt);
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 31.5px;
  font-weight: bold;
  font-family: var(--font_padrao);
}

.projeto__descricao {
  color: var(--cor_txt);
}

.num_comentario, .num_curtidas {
    color: var(--cor_txt);
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .projeto {
    margin: 3.5rem 2rem 0 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .projeto {
    margin: 3.5rem 0 0 0;
    width: 752px;
  }
}
